:root{
    --primary:#f81372;
    --secondary: #7cfb80;
    --accent: #47f9de;
}

.btn, .adopt-btn, .buy{
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    color: rgb(249, 243, 243);
    height: fit-content;
    width: fit-content;
    padding: 1%;
    box-shadow: 3px 3px 30px white;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in 0s;
}

.btn:hover{
    box-shadow: -2px 3px 30px white;
    
}

a{
    text-decoration: none;
}

.section-head{
   width: 100%;
   text-align: center;
   font-family: var(--head-font);
}

.adopt-btn, .buy{
    padding: 3%;
}

.buy{
    background-color: var(--secondary);
}
.pets, .essentials{
    border-radius: 30px;
    padding: 3%;
    transition: transform 0.25s ease-in-out;
}

.pets:hover, .essentials:hover{
    box-shadow: 12px 9px 20px 5px gray;
    transform: scale(1.05);
}

